default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 15
  timeout: 5000
  username: postgres
  password: postgres

development:
  <<: *default
  database: rails-api_development

test:
  <<: *default
  database: rails-api_test

production:
  <<: *default
  database: rails-api_production
  username: rails-api
  password: <%= ENV['RAILS-API_DATABASE_PASSWORD'] %>
